html {
   overflow: hidden;
}

body {
   font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 18px;
   line-height:1.42857143;
   overflow: hidden;
   margin: 0px;
   color: #591781;
   background: #a9c589;
   overflow-x: hidden;
   position: center;
}

p {
    font-size: 14px;
}

canvas {
    width:  100%;
    height: 100%;
    display: block;
    cursor:  none;
}

.canvas-container {
    /* font-size:   0.975em; */
    font-size: 24px;
    text-align:  center;
    font-weight: 300;
    padding-top:    1.5em;
    padding-left:   2%;
    padding-right:  2%;
    letter-spacing; 1px;
}

#col-container {
    display: table;
}

#canvas-disp, #text-disp, #p-left, #p-right {
    display: table-cell;
    padding-top: 0.5em;
}
#canvas-disp { width: 80%; }
#text-disp { width: 20%; }
#p-right, #p-left { padding-right: 5px; }
#p-left { font-weight: bold; }


